[submodule "pytiling"]
	path = pytiling
	url = https://github.com/dante-ferr/pytiling.git
[submodule "pyglet_dragonbones"]
	path = pyglet_dragonbones
	url = https://github.com/dante-ferr/pyglet-dragonbones.git
[submodule "ai_delver_intelligence"]
	path = ai_delver_intelligence
	url = https://github.com/dante-ferr/ai_delver_intelligence.git
