[submodule "pyglet-dragonbones"]
	path = pyglet-dragonbones
	url = https://github.com/dante-ferr/pyglet-dragonbones.git
[submodule "ai_delver_intelligence"]
	path = ai_delver_intelligence
	url = https://github.com/dante-ferr/ai_delver_intelligence.git
[submodule "ai_delver_runtime"]
	path = ai_delver_runtime
	url = https://github.com/dante-ferr/ai_delver_runtime.git
[submodule "pytiling"]
	path = pytiling-lib
	url = https://github.com/dante-ferr/pytiling.git
