[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglet = "*"
customtkinter = "*"
pillow = "*"
pymunk = "*"
cairosvg = "*"
pytiling = {file = "../pytiling", editable = true}
pyglet-dragonbones = {file = "../pyglet-dragonbones", editable = true}

[dev-packages]

[requires]
python_version = "3.13.2"
